body {
    background-color: #F3CAE1;
}

.container {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.content {
    text-align: center;
    color: #ffffff;
}

h1 {
    -webkit-user-select: none; /* Safari */
    -ms-user-select: none; /* IE 10 and IE 11 */
    user-select: none; /* Standard syntax */

    font-weight: bold;
    font-family: "Dancing Script";
    font-size: 8vw;
    margin-block-start: 0.15em;
    margin-block-end: 0.15em;
}

h2 {
    font-weight: bold;
    font-family: "Dancing Script";
    font-size: 4vw;
}

p {
    font-family: "Bellota";
}

#topContent {
    position: relative;
}

img {
    width: 100%;
    border-radius: 16px;
}

#topContent > h1 {
    position: absolute;
    top: 90%;
    transform: translate(29%, 10%);
}

#openLetter {
    display: flex;
    padding-top: 16vh;
}

#letter {
    width: 60%;
    text-align: left;
    padding-left: 5%;
    padding-right: 10%;
}

#openLetter > img {
    max-height: 50vh;
    width: auto;
}

#eventForm {
    display: flex;
    flex-direction: column;
    padding-top: 16vh;
}

#eventCalendar {
    display: flex;
    flex-direction: column;
    padding-top: 16vh;
    justify-content: center;
    align-items: center;
}

#catalogueAlbums {
    display: flex;
    padding-top: 16vh;
}

#invitationForm {
    width: 100%;
    height: 640px;
}

#registrationForm {
    padding-top: 16vh;
}

#mapDirection {
    padding-top: 16vh;
}

#happyWedding {
    display: flex;
    padding-top: 16vh;
}


body::-webkit-scrollbar-track
{
	-webkit-box-shadow: inset 0 0 6px rgba(255, 255, 255, 0.3);
	border-radius: 10px;
	background-color: #F3CAE1;
}

body::-webkit-scrollbar
{
	width: 8px;
	background-color: #F3CAE1;
}

body::-webkit-scrollbar-thumb
{
	border-radius: 10px;
	-webkit-box-shadow: inset 0 0 6px rgba(255, 255, 255, 0.3);
	background-color: #ffffff;
}