body {
    background-color: #F3CAE1;
    overflow-x: hidden;
    scroll-behavior: smooth;
    font-family: "Dancing Script";
    color: #ffffff;
}

::selection {
    background: #bbdc80;
}

.container-fluid {
    padding-left: 30px;
    padding-right: 30px;
}

.content {
    text-align: center;
}

h1 {
    -webkit-user-select: none; /* Safari */
    -ms-user-select: none; /* IE 10 and IE 11 */
    user-select: none; /* Standard syntax */

    font-weight: bold;
    font-size: 8vw;
    margin-block-start: 0.05em;
    margin-block-end: 0.05em;
}

h2 {
    font-weight: bold;
}

h3 {
    font-weight: bold;
}

h4 {
    font-weight: bold;
}

p {
    font-family: "Bellota";
    color: #ffffff;
}

.headerWord {
    width: 100vw;
    text-align: center;
}

#topContent {
    position: relative;
}

img {
    width: 100%;
    border-radius: 16px;
}

#topContent > h2 {
    position: absolute;
    top: 97%;
    width: 100vw;
    text-align: center;
    font-size: 5vw;
    -webkit-user-select: none; /* Safari */
    -ms-user-select: none; /* IE 10 and IE 11 */
    user-select: none; /* Standard syntax */
}

.module-style {
    padding-top: 10vw;
}

#openLetter {
    display: flex;
}

#letter {
    text-align: left;
}

#openLetter > img {
    max-height: 50vh;
    width: auto;
}

.event-show {
    background-image: url("https://github.com/save-the-date/wedding-invitation-tridinh-s2-anhlan/raw/main/static/media/TIME-LOVE.png");
    background-size: cover;
    padding-top: 30px;
    padding-bottom: 30px;
    border-radius: 16px;
    font-size: 1.45em;
}

#eventCalendar {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.catalogue-bg {
    background-color: rgba(255,255,255,0.4);
    padding-top: 20px;
    padding-bottom: 20px;
    border-radius: 16px;
}

.img-cata {
    padding-top: 4px;
    padding-bottom: 4px;
}

.close {
    font-size: 1.5rem;
}

.col-12 img {
    opacity: 0.8;
    cursor: pointer;
    width: 100%;
}

.col-12 img:hover {
    opacity: 1;
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

#invitationForm {
    width: 100%;
    height: 720px;
}

.footer {
    padding-top: 45px;
    padding-bottom: 45px;
}

body::-webkit-scrollbar-track
{
	-webkit-box-shadow: inset 0 0 6px rgba(255, 255, 255, 0.3);
	border-radius: 10px;
	background-color: #F3CAE1;
}

body::-webkit-scrollbar
{
	width: 8px;
	background-color: #F3CAE1;
}

body::-webkit-scrollbar-thumb
{
	border-radius: 10px;
	-webkit-box-shadow: inset 0 0 6px rgba(255, 255, 255, 0.3);
	background-color: #ffffff;
}